<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
     <style>
        table,th,tr,td{
            border: 1px solid black
        }
        body{
            background:rgb(21, 211, 228);
        }
    </style>
</head>
<body>
    <table>
        <h3>User All Data</h3>
           <th>Username</th>
           <th>Email</th>
           {% for dt1 in data1 %}
            <tr>
               <td>{{dt1.username}}</td>
               <td>{{dt1.email}}</td>
           {% endfor%}
    </table>
</body>
</html>

    

 